@model ChangePasswordViewModel

@{
	ViewData["Title"] = "Change Password";
}

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<div class="container push text-center">
			<h1 class="mt-5 display-1">@ViewData["Title"]</h1>
			<hr />
			<form asp-area="" asp-controller="Account" asp-action="ChangePassword" method="post">
				<div class="mb-3 mt-3">
					<label asp-for="@Model.OldPassword" class="fw-bold"></label>
					<input asp-for="@Model.OldPassword" class="form-control" aria-required="true" />
					<span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
				</div>
				<div class="mb-3 mt-3">
					<label asp-for="@Model.Password" class="fw-bold"></label>
					<input asp-for="@Model.Password" class="form-control" aria-required="true" />
					<span asp-validation-for="@Model.Password" class="text-danger"></span>
				</div>
				<div class="mb-3 mt-3">
					<label asp-for="@Model.PasswordRepeat" class="fw-bold"></label>
					<input asp-for="@Model.PasswordRepeat" class="form-control" aria-required="true" />
					<span asp-validation-for="@Model.PasswordRepeat" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<input class="btn btn-success" type="submit" value="Change" />
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}